{% extends "dashboard/dashboard_base.html" %}
{% load staticfiles %}

{% block side_menu_block %}

    {% include "dashboard/navigation_panel.html" with super_admin='active' %}

{% endblock %}
{% block title %}Super Admin List{% endblock %}
{% block page-title %}Super Admin List{% endblock %}
{% block super-users-active %}active{% endblock %}


{% block page_content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags == "error" %} class="alert alert-danger" {% else %}
                                                              class="alert alert-{{ message.tags }}" {% endif %}>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}


                <!-- Add Admin start here-->
                <div class="col-lg-12">
                    <div class="card-box" id="content_div">

                        <h4 class="header-title m-t-0 m-b-30">{{ lbl_add_promotion }}</h4>

                        <form class="form-horizontal form-label-left input_mask" method="POST" id="add-promo"
                              name="add-promo" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ lbl_promo_name }} <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-3 col-sm-6 col-xs-9">
                                    <input type="text" class="form-control" name="name" id="name"
                                           placeholder="{{ lbl_promo_name }}" maxlength="20" style="text-transform:uppercase;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ lbl_promo_percentage }} <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-3 col-sm-6 col-xs-9">
                                    <input type="number" class="form-control" name="percent" min="0" max="100" step="0.01" value="20.00" id="myPercent"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ lbl_promo_srtdescription }} <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-9">
                                    <input type="text" class="form-control" name="short-description" required
                                           id="shrt_desc" placeholder="{{ lbl_promo_srtdescription }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ lbl_promo_description }} <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-9">
                                    <input type="text" class="form-control" id="description" required
                                           name="description" placeholder="{{ lbl_promo_description }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ lbl_promo_expiry }}
                                    <span
                                            class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-9">
                                    <input type="datetime-local" id="meeting-time" name="expiry" value="{{ mydate|date:'Y-m-d' }}T00:00" min="2019-06-07T00:00" max="2020-06-14T00:00">
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-9">
{#                                    <div onclick="myFunction()">User specific promo</div>#}
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Click for user specific
                                        <input type="checkbox" onclick="myFunction()">
                                    </label>

                                </div>
                            </div>
                            <div class="form-group" id="myDIV" style="display:none">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Specific users
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-9">
                                    <input type="text" >
                                </div>
                            </div>
                            <div class="form-group">
{#                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">#}
{#                                    <button type="button" class="btn btn-success">{{ lbl_submit }}</button>#}
{#                                </div>#}
                                <div class="col-md-2 col-sm-3 col-xs-3 col-md-offset-3">
{#                                <input type="submit" value="submit">#}
                                    <div class="form-group">
                                        <button type="button" class="btn btn-block btn-danger" onclick="SaveEvent()">Add Promotion</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-box" id="div_validation" style="display: none"><label
                            class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                        <div class="form-group" class="col-md-9 col-sm-9 col-xs-12">
                            <font size="4px"><img src="/static/assets/images/loader.gif" style="align-self: center"
                                                  width="100" height="100"></font>
                        </div>
                    </div>
                </div><!-- end col -->

                <!-- List promotions start here-->
                <div class="col-lg-12">
                    <div class="card-box table-responsive">

                        <h4 class="header-title m-t-0 m-b-30"> {{ lbl_promotion_list }}</h4>


                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ lbl_promo }}</th>
                                <th>{{ lbl_percentage }}</th>
                                <th>{{ lbl_short_description }}</th>
                                <th>{{ lbl_description }}</th>
                                <th>{{ lbl_expiry }}</th>
                                {% if not disable_action %}
                                    <th style="align-self: center !important;" valign="center">{{ lbl_edit }}<i class="fa fa-edit"></i></th>
                                    <th style="align-self: center !important;" valign="center">{{ delete }}<i class="fa  fa-trash"></i></th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% if promotion_list %}
                            {% for promotion in promotion_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ promotion.name }}</td>
                                    <td>{{ promotion.percentage }}</td>
                                    <td>{{ promotion.short_description }}</td>
                                    <td>{{ promotion.description }}</td>
                                    <td>{{ promotion.expiry }}</td>

                                    {% if not disable_action %}
                                        <td>
                                            <a href="{% url 'dashboard:edit-promotion' promotion_id=promotion.id %}"><i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td valign="center">
{#                                            <a onclick="" id=commodity.id"><i class="fa  fa-trash"></i>#}
                                                <a onclick="DeleteItem({{ promotion.id }})" id="operator.user.id"> <i class="fa  fa-trash"></i> </a>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- end col -->


            </div> <!-- container -->

        </div> <!-- content -->

        {% include "dashboard/footer.html" %}

    </div>

{% endblock %}


{% block extra_javascript %}
    <!-- Validation js (Parsleyjs) -->
    <script type="text/javascript" src={% static "assets/plugins/parsleyjs/dist/parsley.min.js" %}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>

        function DeleteItem(promotion_id) {
            if (confirm('{{ lbl_want_del_user }}')) {
                $.ajax({
                    url: '/dashboard/delete-promotion/',
                    data: {
                        'promo_id': promotion_id,
                    },
                    dataType: 'json',
                    success: function (data) {
{#                        alert(data)#}
                        window.location.href = "/dashboard/add-promotion/";
                    }
                });
            }

        }

    </script>

    <script>
        var SaveEvent;
        var myFunction;
        $( document ).ready(function() {
            var percent = document.getElementById('myPercent').value;
            percent = Math.round(percent);
            {#console.log(percent);#}
            $("#name").val("PROMO" + percent);
            SaveEvent = function() {
                $('#add-promo').parsley().validate()
                if ($('#add-promo').parsley().isValid()) {
                    swal({
                        title: "Are you sure you want to add the promotion?",
                        text: "",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    }).then((willDelete) => {
                        if (willDelete) {
                            $('#add-promo').submit();
                            return true;
                        } else {
                            return false;
                        }
                        return false;

                    });
                    return false;
                } else {
                    return false
                }
            }
            myFunction = function() {
                var x = document.getElementById("myDIV");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

        });



    </script>


{% endblock %}