{% load staticfiles %}
<footer class="footer text-right">
    <div class="col-md-12" style="text-align: center;padding: 0 20% 0 20%;height: 30px">
{#        <img src="{% static 'assets/images/logo_republic.svg' %}" width="20%" height="auto" alt="">#}
        <p style="font-weight: 500;">
            {{ lbl_footer }}
        </p>
        <span style="margin-right: 0px;"><a href="javascript:void(0)" onclick="SetSession(1)" id=session_english"> English</a>
                &nbsp;&nbsp;<a onclick="SetSession(2)" href="javascript:void(0)" id=session_spanish">Español</a></span>
    </div>
</footer>

{% block extra_javascript %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script type="text/javascript">

        function SetSession(id) {
{#            alert(id)#}
        $.ajax({
            url: '/dashboard/set-session/',
            data: {
                'language': id,
            },
            dataType: 'json',
            success: function (data) {
                window.location.reload()
{#                alert(data)#}
            }
        });

    }
    </script>
{% endblock %}