{% extends "dashboard/dashboard_base.html" %}
{% load staticfiles %}

{% block side_menu_block %}

    {% include "dashboard/navigation_panel.html" with user='active' %}

{% endblock %}
{% block title %}Users{% endblock %}
{% block page-title %}Users{% endblock %}
{% block users-active %}active{% endblock %}


{% block page_content %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags == "error" %} class="alert alert-danger" {% else %}
                                                              class="alert alert-{{ message.tags }}" {% endif %}>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">

                            <h4 class="header-title m-t-0 m-b-30">{{ display_template_label }}</h4>

                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <td>{{ lbl_driver_name }}</td>
                                    <td>{{ lbl_email }}</td>
                                    <td>{{ lbl_mobile }}</td>
                                    <td>{{ lbl_vehicle_volume }}</td>
                                    <td>{{ lbl_status }}</td>
                                    <td>{{ lbl_approved_on }}</td>
                                    <td>{{ lbl_action }}</td>
                                </tr>
                                </thead>

                                <tbody>
                                {% if vehicles %}
                                    {% for vehicle in vehicles %}
                                        <tr>
                                            <td>{% autoescape on %}
                                                <a href="{% url 'dashboard:edit-partner' partner_id=vehicle.driver_id.id %}">
                                                    {{ vehicle.driver_id.user.first_name }} {{ vehicle.driver_id.user.last_name }}
                                                </a>
                                            {% endautoescape %}</td>
                                            <td>{% autoescape on %}
                                                {{ vehicle.driver_id.user.email }}{% endautoescape %}</td>
                                            <td>{% autoescape on %}
                                                {{ vehicle.driver_id.user.username }}{% endautoescape %}</td>
                                            <td>{% autoescape on %}{{ vehicle.vehicle_volume }}{% endautoescape %}</td>
                                            <td>{% autoescape on %}
                                                {% if vehicle.driver_id.status == 'blocked' %}
                                                    <div style="color: red">{{ vehicle.driver_id.get_status_display }}</div>
                                                {% elif vehicle.driver_id.status == 'not_verified' %}
                                                    {{ lbl_profile_not_completed }}
                                                {% else %}
                                                    {{ vehicle.driver_id.get_status_display }}
                                                {% endif %}
                                            {% endautoescape %}
                                            </td>
                                        <td>
                                         {% if vehicle.approved_on %}
                                             {{ vehicle.approved_on }}
                                          {% endif %}
                                        </td>
                                            <td>
                                                {% if vehicle.driver_id.status == 'not_verified'%}
                                                    {% if not user.is_superuser %}
                                                        <a href="{% url 'dashboard:edit-partner' partner_id=vehicle.driver_id.id %}"
                                                           class="btn btn-success">Complete Profile</a>
                                                    {% else %}
                                                        <button class="btn btn-success" disabled>Complete Profile</button>
                                                    {% endif %}
                                                {% else %}
                                                    <button class="btn btn-success" disabled>Approved</button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->

        {% include 'dashboard/footer.html' %}
    </div>

{% endblock %}


{% block extra_javascript %}
    <!-- Validation js (Parsleyjs) -->
    <script type="text/javascript" src={% static "assets/plugins/parsleyjs/dist/parsley.min.js" %}></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();
        });

        $(function () {
            $(".delete_form").submit(function () {
                var r = confirm("Are you sure you want to delete this user?");
                return r == true;
            })
        });
    </script>

<!-- DataTables  css-->
    <link href={% static "assets/plugins/datatables/jquery.dataTables.min.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/plugins/datatables/buttons.bootstrap.min.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/plugins/datatables/fixedHeader.bootstrap.min.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/plugins/datatables/responsive.bootstrap.min.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/plugins/datatables/scroller.bootstrap.min.css" %} rel="stylesheet" type="text/css" />



    <!-- Datatables js -->
    <script src={% static "assets/plugins/datatables/jquery.dataTables.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.bootstrap.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.buttons.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/buttons.bootstrap.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/jszip.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/pdfmake.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/vfs_fonts.js" %}></script>
    <script src={% static "assets/plugins/datatables/buttons.html5.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/buttons.print.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.fixedHeader.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.keyTable.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.responsive.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/responsive.bootstrap.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.scroller.min.js" %}></script>

    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>

    <!-- Datatable init js -->
    <script src={% static "assets/pages/datatables.init.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable({
                "aaSorting": [],
                "oLanguage": {
                    "sLengthMenu": "{{ lbl_display }} _MENU_ {{ lbl_entries }}",
                    "sEmptyTable": "{{ no_items_found }}",
                    "sSearch": "{{ lbl_search }}: ",
                    "sInfo": "{{ lbl_showing }} _START_ to _END_ of _TOTAL_ {{ lbl_entries }}",
                    "oPaginate": {
                        "sPrevious": "{{ lbl_previous }}", // This is the link to the previous page
                        "sNext": "{{ lbl_next }}", // This is the link to the next page
                    },

                },
                 dom: 'Bfrtip',
                buttons: [ {
                        "extend": 'excel',
                    "text":'Export',
                    "className": 'btn btn btn-primary',
                    "title": '{{ display_template_label }}',
                    "exportOptions": {
                        columns: [ 0, 1, 2, 3, 4]
                        }
                }],

            });
            $('#datatable-keytable').DataTable({keys: true});
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({
                ajax: "assets/plugins/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
        });
        TableManageButtons.init();
    </script>
{% endblock %}