{% extends "dashboard/front-base.html" %}
{% load staticfiles %}
{% block heading %}
    {% if valid_reset_key %}
        {{ lbl_reset_pwd_txt }}
    {% else %}
        {{ lbl_invalid_reset_key }} !
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="panel-body">
        {% if valid_reset_key %}

            <form class="form-horizontal m-t-20" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="{{ lbl_enter_pwd_txt }}"
                               name="new_password" minlength="8">
                    </div>
                </div>

                <div class="form-group text-center m-t-20 m-b-0">
                    <div class="col-xs-12">
                        <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">
                            {{ lbl_reset_pwd_txt }}
                        </button>
                    </div>
                </div>

                <div class="form-group m-t-30 m-b-0">
                    <div class="col-sm-12">
                        <a href="{% url 'dashboard:dashboard-login' %}" class="text-muted"><i class="fa fa-sign-in m-r-5"></i>{{ lbl_sign_in }}</a>
                    </div>
                </div>

            </form>
        {% endif %}
{#                  <span style="margin-right: 0px;"><a href="javascript:void(0)" onclick="SetSession(1)" id=session_english"> English</a>#}
{#                &nbsp;&nbsp;<a onclick="SetSession(2)" href="javascript:void(0)" id=session_spanish">Español</a></span>#}
    </div>
{% endblock %}
