{% extends "dashboard/dashboard_base.html" %}
{% load staticfiles %}
{% block side_menu_block %}

    {% include "dashboard/navigation_panel.html" with user='active' %}

{% endblock %}
{% block title %}Users{% endblock %}
{% block page-title %}Users{% endblock %}
{% block users-active %}active{% endblock %}


{% block page_content %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags == "error" %} class="alert alert-danger" {% else %}
                                                              class="alert alert-{{ message.tags }}" {% endif %}>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">

                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active">
                                    <a href="#drivers" role="tab" data-toggle="tab">{{ lbl_partners }}</a>
                                </li>
                                <li role="presentation">
                                    <a href="#fleets" role="tab" data-toggle="tab">{{ lbl_fleets }}</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="drivers">
                                    <div class="card-box table-responsive">

                                        <h4 class="header-title m-t-0 m-b-30">{{ lbl_partners }}</h4>

                                        <table id="datatable-drivers" class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <td>{{ lbl_name }}</td>
                                                <td>{{ lbl_email }}</td>
                                                <td>{{ lbl_mobile }}</td>
                                                <td>{{ lbl_status }}</td>
                                                <td>{{ lbl_total_earnings }}</td>
                                                <td>{{ lbl_discount }}</td>
                                                {% if payout_possible and not disable_action %}
                                                    <td>{{ lbl_action }}</td>
                                                {% endif %}
                                                <!--TODO: Translate -->
                                                <td>Trip Details</td>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% if payout_list %}
                                                {% for driver in payout_list %}
                                                    <tr>
                                                        <td>
                                                            {{ driver.driver.user.get_full_name }}
                                                        </td>
                                                        <td>{{ driver.driver.user.email }}</td>
                                                        <td>{{ driver.driver.user.username }}</td>
                                                        <td>
                                                            {% if driver.payment_processed %}
                                                                <span class="label label-success">Paid</span>
                                                            {% else %}
                                                                <span class="label label-danger">Not Paid</span>
                                                            {% endif %}
                                                        </td>
                                                    <td>{{ driver.drivers_earnings_from_transfers }}</td>
                                                    <td>{{ driver.total_discount }}</td>

                                                        {% if payout_possible and not disable_action %}
                                                            <td>
                                                                {% if not driver.payment_processed %}
                                                                    <button type="button" class="btn btn-success"
                                                                            id="calculate-payout"
                                                                            onclick="generatePayout({{ driver.driver.id }},{{ driver.net_payable_for_driver }},{{ driver.amount_to_be_collected_from_driver }})">
                                                                        Process Payout
                                                                    </button>
                                                                {% else %}
                                                                    <button type="button" class="btn btn-default"
                                                                            id="disabled" disabled>Process Payout
                                                                    </button>
                                                                {% endif %}
                                                            </td>
                                                        {% endif %}
                                                        <td>
                                                            <a href="/dashboard/trip-details/{{ driver.driver.id }}" title="View Trip Details"><span class="fa fa-eye" style="color: grey !important;"></span></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="fleets">
                                    <div class="card-box table-responsive">

                                        <h4 class="header-title m-t-0 m-b-30">{{ lbl_fleets }}</h4>

                                        <table id="datatable-fleet-admin"
                                               class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <td>{{ company_name }}</td>
                                                <td>{{ lbl_email }}</td>
                                                <td>{{ lbl_status }}</td>
                                                <td>{{ lbl_total_earnings }}</td>
                                                <td>{{ lbl_discount }}</td>
                                                {% if payout_possible %}
                                                    <td>{{ lbl_action }}</td>
                                                {% endif %}
                                                <td>Trip Details</td>

                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% if fleet_admins %}
                                                {% for admin in fleet_admins %}
                                                    <tr>
                                                        <td>
                                                            <a href="/dashboard/payout-history/{{ admin.id }}">{{ admin.user.get_full_name }}</a>
                                                        </td>
                                                        <td>{{ admin.user.username }}</td>
                                                        <td>
                                                            {% if admin.payment_processed %}
                                                                <span class="label label-success">Paid</span>
                                                            {% else %}
                                                                <span class="label label-danger">Not Paid</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ admin.total_earnings|floatformat:2 }}</td>
                                                        <td>{{ admin.total_discount|floatformat:2 }}</td>
                                                        {% if payout_possible %}
                                                            <td>
                                                                {% if not admin.payment_processed %}
                                                                    <button type="button" class="btn btn-success"
                                                                            id="calculate-payout"
                                                                            onclick="generatePayout({{ admin.id }},{{ admin.net_payable_for_driver }},{{ admin.amount_to_be_collected_from_driver }})">
                                                                        Calculate Payout
                                                                    </button>
                                                                {% else %}
                                                                    <button type="button" class="btn btn-danger"
                                                                            id="disabled" disabled>Calculate Payout
                                                                    </button>
                                                                {% endif %}
                                                            </td>
                                                        {% endif %}
                                                        <td>
                                                            <a href="/dashboard/trip-details/{{ admin.id }}" title="View Trip Details"><span class="fa fa-eye" style="color: grey !important;"></span></a>
                                                        </td>

                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->

        {% include 'dashboard/footer.html' %}

    </div>

{% endblock %}

{% block extra_stylesheet %}
    <style>
        table {
            text-align: center;
        }
    </style>
{% endblock %}
{% block extra_javascript %}
    <!-- Validation js (Parsleyjs) -->
    <script type="text/javascript" src={% static "assets/plugins/parsleyjs/dist/parsley.min.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();
        });

        $(function () {
            $(".delete_form").submit(function () {
                var r = confirm("Are you sure you want to delete this user?");
                return r == true;
            })
        });
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Datatables-->
    <script src={% static "assets/plugins/datatables/jquery.dataTables.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.bootstrap.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.buttons.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/buttons.bootstrap.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/jszip.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/pdfmake.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/vfs_fonts.js" %}></script>
    <script src={% static "assets/plugins/datatables/buttons.html5.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/buttons.print.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.fixedHeader.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.keyTable.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.responsive.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/responsive.bootstrap.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.scroller.min.js" %}></script>

    <!-- Datatable init js -->
    <script src={% static "assets/pages/datatables.init.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable-drivers').dataTable({
                "aaSorting": [],
                "oLanguage": {"sEmptyTable": "{{ no_items_found }}"}
            });
            $('#datatable-fleet-admin').dataTable({
                "aaSorting": [],
                "oLanguage": {"sEmptyTable": "{{ no_items_found }}"}
            });
            $('#datatable-keytable').DataTable({keys: true});
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({
                ajax: "assets/plugins/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});

        });
        TableManageButtons.init();

        // Payout management section start
        function generatePayout(driverId, payable_to, collected_from) {
            console.log(payable_to.toFixed(0));
            var title = "", text = "", icon = "info", button = "Paid";

            if (payable_to.toFixed(0) == 0) {
                var opt = {
                    title: "S/ " + collected_from.toFixed(2),
                    text: "To be Collected from Driver !",
                    icon: "error",
                    button: "Recieved",
                };
            }
            else {
                var opt = {
                    title: "S/ " + payable_to.toFixed(2),
                    text: 'To be Paid to Driver !',
                    icon: "success",
                    button: "Paid",
                };
            }

            swal(opt).then((value) => {
                if (value === true) {
                    $.ajax({
                        url: "{% url 'dashboard:generate-payout' %}",
                        method: "GET",
                        data: {"driver_id": driverId},
                        success: function (response) {
                            location.reload();
                        },
                        error: function (response) {
                            swal("Payout Failed", "", "error");
                        }
                    })
                }
            });
        }

        //Payout management section end

    </script>
{% endblock %}