<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Muberz Privacy Policy">
    <meta name="author" content="Muberz">

<title>Muberz Pivacy policy</title>
</head>
<body>
<h3 style="text-align: center;">MUBERZ POLITICA DE PRIVACIDAD</h3>
<p> Esta política de privacidad establece cómo Muberz usa y protege cualquier información que le proporciones a Muberz cuando utilizas esta aplicación.</p>
<p>Muberz se compromete a garantizar que su privacidad esté protegida. En caso de que le pidamos que proporcione cierta información que le permita identificarse al usar esta aplicación móvil, puede estar seguro de que solo se utilizará de acuerdo con esta declaración de privacidad.</p>
<p>Muberz puede cambiar esta política de vez en cuando al actualizar esta página. Debe verificar esta página de vez en cuando para asegurarse de que esté satisfecho con los cambios.</p>
<h3>LO QUE RECOPILAMOS</h3>
<h3>Podemos recopilar la siguiente información:</h3>
<ul>
<li>Nombre y apellido, número de móvil</li>
<li>Información de contacto, incluida la dirección de correo electrónico.</li>
<li>Información demográfica como ubicación, preferencias e intereses.</li>
<li>Otra información relevante para encuestas y / o ofertas de clientes.</li>
</ul>

<h3>QUÉ HACEMOS CON LA INFORMACIÓN QUE RECOPILAMOS</h3>

<p>Requerimos esta información para comprender sus necesidades y brindarle un mejor servicio, y en particular por las siguientes razones:</p>

<h3>Mantenimiento de registros internos</h3>

<p>Podemos usar la información para mejorar nuestros productos y servicios.</p>
<p>Es posible que periódicamente enviemos correos electrónicos promocionales, SMS y realicemos llamadas de voz sobre nuevos productos, ofertas especiales u otra información que creemos que puede resultarle interesante utilizando la dirección de correo electrónico y el número de teléfono celular que proporcionó.</p>
<p>De vez en cuando, también podemos utilizar su información para contactarlo con fines de investigación de mercado. Podemos comunicarnos con usted por correo electrónico, SMS, voz, fax o correo. Podemos utilizar la información para personalizar la aplicación móvil de acuerdo con sus intereses.</p>

<h3>Seguridad</h3>
<p>Nos comprometemos a garantizar que su información sea segura. Para evitar el acceso o la divulgación no autorizados, hemos implementado procedimientos físicos, electrónicos y administrativos adecuados para salvaguardar y proteger la información que recopilamos en línea. No retenemos ninguna información recopilada de usted por más tiempo de lo razonablemente requerido por nosotros para el propósito de nuestros servicios o el período que las leyes aplicables en Perú exijan.</p>

<h3>Revelación</h3>
<p>Podemos divulgar a terceras partes cierta información de identificación personal que se detalla a continuación:</p>
<ul>
<li>Información que nos proporciona, como nombre, correo electrónico, número de teléfono móvil.</li>
<li>Información que recopilamos al acceder y usar nuestro servicio, incluida la información del dispositivo, la ubicación y el operador de la red.</li>
</ul>

<ul>Esta información se comparte con proveedores de servicios externos para que podamos:</ul>

<li>Personalice la aplicación para que pueda obtener la experiencia más fluida<li>
<li>Realizar análisis de comportamiento.</li>
<p>No divulgaremos ni compartiremos su información personal a terceros a menos que tengamos su permiso o la ley así lo requiera. Podemos utilizar su información personal para enviarle información promocional sobre terceros que creemos que puede resultarle interesante si nos informa que desea que esto suceda.</p>

<p>Si cree que la información que tenemos sobre usted es incorrecta o está incompleta, escríbanos o envíenos un correo electrónico lo antes posible a la dirección que figura más arriba. Correctamente corregiremos cualquier información que se encuentre incorrecta. También puede retirar su consentimiento enviándonos un correo electrónico a info@muberz.com  Dicho retiro dará lugar a la interrupción de los servicios para los cuales se requiere dicha información.</p>

<p>Para cualquier consulta, puede visitar nuestra oficina local más cercana o comunicarse con nosotros en www.muberz.com </p>
</body>
</html>
