{% extends "dashboard/dashboard_base.html" %}
{% load staticfiles %}

{% block side_menu_block %}

    {% include "dashboard/navigation_panel.html" with user='active' %}

{% endblock %}
{% block title %}Users{% endblock %}
{% block page-title %}Users{% endblock %}
{% block users-active %}active{% endblock %}


{% block page_content %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags == "error" %} class="alert alert-danger" {% else %}
                                                              class="alert alert-{{ message.tags }}" {% endif %}>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-lg-12 col-md-12" id="printDiv">
                        <div class="card-box">
                            {% if not transfer_data.refund_initiated and not user.is_superuser and not disable_action %}
                                <div class="col-md-12">
                                    <button class="btn btn-success pull-right" data-toggle="modal"
                                            data-target="#refundrequest">Request Refund
                                    </button>
                                </div>
                            {% endif %}
                            <div class="col-lg-12">
                                <ul class="nav nav-tabs">
                                    <li role="presentation" class="active">
                                        <a href="#home1" role="tab" data-toggle="tab">{{ lbl_transfers_details }}</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#profile1" id="vehicle_details" role="tab"
                                           data-toggle="tab">{{ lbl_rate_details }}</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#profile2" id="ratings" role="tab"
                                           data-toggle="tab">Transfer Rating</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#commodity" id="commodities" role="tab"
                                           data-toggle="tab">
                                            Commodity Details </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="home1">
                                        <table width="100%" class="table table-striped m-0 table-bordered">
                                            <tr>
                                                <td width="30%">{{ lbl_user }}</td>
                                                <td>{{ transfer_data.added_by.user.first_name }} {{ veh_data.added_by.user.last_name }}  </td>
                                            </tr>
                                            <tr>
                                                <td width="30%">{{ lbl_driver }}</td>
                                                <td>{{ transfer_data.driver.user.first_name }} {{ transfer_data.driver.user.last_name }}  </td>
                                            </tr>
                                            <tr>
                                                <td>{{ lbl_pickup_location }}</td>
                                                <td>{{ transfer_pickup.location_name }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ lbl_drop_location }}</td>
                                                <td>
                                                    {{ transfer_drop.location_name }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ lbl_fleet_or_individual }}</td>
                                                <td>
                                                    {% if transfer_data.driver.fleet_id %}
                                                        {{ lbl_fleet_name }}
                                                    {% else %}
                                                        {{ lbl_individual }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% if transfer_data.driver.fleet_id %}
                                                <tr>
                                                    <td>{{ lbl_fleet_name }}</td>
                                                    <td>
                                                        {{ transfer_data.driver.fleet_id.user.first_name }} {{ transfer_data.driver.fleet_id.user.last_name }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                <td>{{ lbl_payment_type }}</td>
                                                <td>
                                                    {{ transfer_data.get_payment_type_display }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ lbl_transfer_on }}</td>
                                                <td>
                                                    {{ transfer_data.added_time }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ lbl_status }}</td>
                                                <td>
                                                    {{ transfer_data.get_status_display }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ lbl_trip_type }}</td>
                                                <td>
                                                   {% if transfer_data.instant_search %} {{ instant_transfer }}{% else %} {{ scheduled_transfer }} {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ lbl_no_items }}</td>
                                                <td>
                                                    {{ transfer_data.no_items }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ lbl_transfer_type }}</td>
                                                <td>
                                                    {{ transfer_pickup.get_transfer_loc_display }}
                                                    - {{ transfer_drop.get_transfer_loc_display }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ lbl_service_type }}</td>
                                                <td>
                                                    {% if request.session.language == 'en' %}
                                                    {{ transfer_data.service_type.display_service_name_en }}
                                                    {% else %}
                                                        {{ transfer_data.service_type.display_service_name_es }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ lbl_volume }}</td>
                                                <td>
                                                    {{ transfer_data.tot_volume }} m<sup>3</sup>
                                                </td>
                                            </tr>
                                            {% if transfer_data.get_status_display not in 'Active,Completed,Cancelled' %}
                                                <tr>
                                                    <td>Is Special Handling Fee Required</td>
                                                    <td>
                                                        <button onClick="toggleHandlingFee({{ transfer_data }})" class="btn {{  transfer_data.is_special_handling_required|yesno:"btn-success,btn-danger"  }}">{{ transfer_data.is_special_handling_required|yesno:"Yes,No" }}</button>
                                                    </td>
                                                </tr>
                                            {% endif %}

                                            {% if transfer_data.is_special_handling_required %}
                                                <tr>
                                                    <td>Special Handling Fee</td>
                                                    <td>
                                                        {% if transfer_data.get_status_display not in 'Active,Completed,Cancelled' %}
                                                            <form action="{% url 'dashboard:update-handling-fee' %}" method="POST" id="special_handling_fee_form" >
                                                                <input type="hidden" name="transfer_id" value="{{ transfer_data.id }}" >
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control number-only" name="special_handling_fee" required id="special_handling_fee" value="{{ transfer_data.special_handling_fee }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <button class="btn btn-success">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        {% else %}
                                                            {{ transfer_data.special_handling_fee }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            
                                        </table>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="profile1">
                                        <table width="100%" class="table table-striped m-0 table-bordered">
                                            <tr>
                                                <td>{{ lbl_total_amount }}</td>
                                                <td>
                                                    {{ transfer_data.total_amount|floatformat:2 }} S/
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>{{ lbl_commission }}</td>
                                                <td>
                                                    {{ transfer_data.commission|floatformat:2 }} S/
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ lbl_damage_refund }}</td>
                                                <td>
                                                    {{ transfer_data.damage_refund|floatformat:2 }} S/
                                                </td>
                                            </tr>
                                            {% if transfer_data.amount_paid %}
                                                <tr>
                                                    <td>{{ lbl_amount_paid }}</td>
                                                    <td>
                                                        {{ transfer_data.amount_paid|floatformat:2 }} S/
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                <td>Amount to be Collected From User</td>
                                                {% if transfer_data.get_payment_type_display == 'Cash Payment' %}
                                                    <td>
                                                        {{ transfer_data.payable_amount|floatformat:2 }} S/
                                                    </td>
                                                {% else %}

                                                    <td>
                                                        {{ 0 }} S/
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            {% if refund %}
                                                <tr>
                                                    <td colspan="2" style="font-weight: bold;text-align: center">Refund
                                                        Details
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Refund Amount
                                                    </td>
                                                    <td>
                                                        {{ refund.amount_to_refund }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Reason</td>
                                                    <td>{{ refund.refund_cause }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    <td>{{ refund.status|title }}</td>
                                                </tr>
                                            {% endif %}

                                        </table>

                                    </div>

                                <div role="tabpanel" class="tab-pane fade" id="profile2">
                                        <table width="100%" class="table table-striped m-0 table-bordered">
                                            {% if rating_by_user %}
                                                <tr>
                                                    <td>Rating By User</td>
                                                    <td>
                                                        {{ rating_by_user.rating_value }}
                                                    </td>
                                                </tr>
                                                {% if rating_by_user.description %}
                                                    <tr>
                                                        <td>User Comments</td>
                                                        <td>
                                                            {{ rating_by_user.description }}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                            {% if rating_by_driver %}
                                                <tr>
                                                    <td>Rating By Driver</td>
                                                    <td>
                                                        {{ rating_by_driver.rating_value }}
                                                    </td>
                                                </tr>
                                                {% if rating_by_driver.description %}
                                                        <tr>
                                                            <td>Driver Comments</td>
                                                            <td>
                                                                {{ rating_by_driver.description }}
                                                            </td>
                                                        </tr>
                                                {% endif %}
                                            {% endif %}
                                        </table>

                                    </div>
                                <div role="tabpanel" class="tab-pane fade" id="commodity">
                                    <table width="100%" class="table table-striped m-0 table-bordered">
                                            <thead>
                                            <th>Sl No</th>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Volume</th>
                                            <th>Plug In</th>
                                            </thead>
                                            <tbody>
                                            {% for commodity in commodities %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ commodity.item__item_name }}</td>
                                                    <td>{{ commodity.item__count }}</td>
                                                    <td>{{ commodity.item__volume }}m<sup>3</sup></td>
                                                    <td>{% if commodity.need_plugged %} Yes {% else %}
                                                        No {% endif %}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                </div>
                                </div>
                            </div><!-- end col -->


                            <table width="100%" class="table table-striped m-0 table-bordered">


                            </table>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->
        <div id="refundrequest" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Request Refund</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-label-left input_mask" id="city_add_form_edit" method="post"
                              action="/dashboard/refund-transfer/">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Refund Amount<span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="number" class="form-control" maxlength="5" min="0" name="refund" required id="amount">
                                </div>


                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Refund Reason<span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <textarea class="form-control" name="cause" id="" cols="30" rows="10"
                                              required></textarea>
                                </div>
                                <input type="hidden" name="trans_id" id="trans_id" value="{{ transfer_data.id }}">

                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">{{ lbl_submit }}</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        {% include 'dashboard/footer.html' %}

    </div>

{% endblock %}


{% block extra_javascript %}
    <!-- Validation js (Parsleyjs) -->
    <script type="text/javascript" src={% static "assets/plugins/parsleyjs/dist/parsley.min.js" %}></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();
        });

        $(function () {
            $(".delete_form").submit(function () {
                var r = confirm("Are you sure you want to delete this user?");
                return r == true;
            })
        });
    </script>
    <!-- Datatables-->
    <script src={% static "assets/plugins/datatables/jquery.dataTables.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.bootstrap.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.buttons.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/buttons.bootstrap.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/jszip.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/pdfmake.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/vfs_fonts.js" %}></script>
    <script src={% static "assets/plugins/datatables/buttons.html5.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/buttons.print.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.fixedHeader.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.keyTable.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.responsive.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/responsive.bootstrap.min.js" %}></script>
    <script src={% static "assets/plugins/datatables/dataTables.scroller.min.js" %}></script>

    <!-- Datatable init js -->
    <script src={% static "assets/pages/datatables.init.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable({
                "aaSorting": [],
                "oLanguage": {"sEmptyTable": "{{ no_items_found }}"}
            });
            $('#datatable-keytable').DataTable({keys: true});
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({
                ajax: "assets/plugins/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
        });
        TableManageButtons.init();

    </script>
    <script>
        function toggleHandlingFee(id){
            console.log(id)
            $.post('/api/toggle-special-handling/',JSON.stringify({transfer_id: id}),function(){
                window.location.reload();
            })
        }
    </script>
{% endblock %}