{% extends "dashboard/dashboard_base.html" %}
{% load staticfiles %}

{% block side_menu_block %}

    {% include "dashboard/navigation_panel.html" with super_admin='active' %}

{% endblock %}
{% block title %}Super Admin List{% endblock %}
{% block page-title %}Super Admin List{% endblock %}
{% block super-users-active %}active{% endblock %}


{% block page_content %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags == "error" %} class="alert alert-danger" {% else %}
                                                              class="alert alert-{{ message.tags }}" {% endif %}>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if not disable_action %}
                <div class="col-lg-12" >
                    <div class="card-box">

                        <h4 class="header-title m-t-0">{{ lbl_add_new_service }} <span
                                class="col-md-2 pull-right expand_click">
                                <i class="fa fa-plus pull-right btn btn-success"></i>
                            </span></h4>
                        <div id="add_offer_form" style="padding: 10px;margin-top: 30px ;width: 100%">

                            <form class="form-horizontal form-label-left input_mask" method="post"
                                  action="{% url 'dashboard:add-service' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ lbl_service_name }}
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <select class="form-control" name="service_from" id="service_from"
                                                        required
                                                        style="width: 48%; display:inline">
                                                    <option value="packed" {% if item_data.service_from == 'packed' %}
                                                            selected {% endif %} >Packed
                                                    </option>
                                                    <option value="unplugged"
                                                            {% if item_data.service_from == 'unplugged' %}
                                                            selected {% endif %}>Unplugged
                                                    </option>
                                                </select>
                                                <select class="form-control" name="service_to" id="service_to" required
                                                        style="width: 48%; display:inline">
                                                    <option value="delivery" {% if item_data.service_to == 'delivery' %}
                                                            selected {% endif %} >Delivery
                                                    </option>
                                                    <option value="plugged" {% if item_data.service_to == 'plugged' %}
                                                            selected {% endif %}>Plugged
                                                    </option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ lbl_charge }}<span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control number-only" required
                                                       id="charge" value="{% if item_data.charge != None %}{{ item_data.charge }}{% endif %}"
                                                       name="charge" placeholder="{{ lbl_charge }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
{#                                <div class="row">#}
{#                                    <div class="col-md-6">#}
{#                                        <div class="form-group">#}
{#                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ lbl_charge }}(10-20#}
{#                                                km)<span class="required">*</span>#}
{#                                            </label>#}
{#                                            <div class="col-md-9 col-sm-9 col-xs-12">#}
{#                                                <input type="text" class="form-control number-only" required#}
{#                                                       id="charge_10_20" value="#}
{##}
{##}
{#                                                        {% if item_data.charge_10_20 != None %}{{ item_data.charge_10_20 }}{% endif %}"#}
{#                                                       name="charge_10_20" placeholder="{{ lbl_charge }}(10-20 km )">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-6">#}
{#                                        <div class="form-group">#}
{#                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ lbl_charge }}(20-30#}
{#                                                km)<span class="required">*</span>#}
{#                                            </label>#}
{#                                            <div class="col-md-9 col-sm-9 col-xs-12">#}
{#                                                <input type="text" class="form-control number-only" required#}
{#                                                       id="charge_20_30" value="#}
{##}
{##}
{#                                                        {% if item_data.charge_20_30 != None %}{{ item_data.charge_20_30 }}{% endif %}"#}
{#                                                       name="charge_20_30" placeholder="{{ lbl_charge }}(20-30 km)">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-md-6">#}
{#                                        <div class="form-group">#}
{#                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ lbl_charge }}(30-40#}
{#                                                km)<span class="required">*</span>#}
{#                                            </label>#}
{#                                            <div class="col-md-9 col-sm-9 col-xs-12">#}
{#                                                <input type="text" class="form-control number-only" required#}
{#                                                       id="charge_30_40" value="#}
{##}
{##}
{#                                                        {% if item_data.charge_30_40 != None %}{{ item_data.charge_30_40 }}{% endif %}"#}
{#                                                       name="charge_30_40" placeholder="{{ lbl_charge }}(30-40 km)">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-6">#}
{#                                        <div class="form-group">#}
{#                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ lbl_charge }}(40-50#}
{#                                                km)<span class="required">*</span>#}
{#                                            </label>#}
{#                                            <div class="col-md-9 col-sm-9 col-xs-12">#}
{#                                                <input type="text" class="form-control number-only" required#}
{#                                                       id="charge_40_50" value="#}
{##}
{##}
{#                                                        {% if item_data.charge_40_50 != None %}{{ item_data.charge_40_50 }}{% endif %}"#}
{#                                                       name="charge_40_50" placeholder="{{ lbl_charge }}(40-50 km)">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-md-6">#}
{#                                        <div class="form-group">#}
{#                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ lbl_charge }}#}
{#                                                (50-60#}
{#                                                km )<span class="required">*</span>#}
{#                                            </label>#}
{#                                            <div class="col-md-9 col-sm-9 col-xs-12">#}
{#                                                <input type="text" class="form-control number-only" required#}
{#                                                       id="charge_50_60" value="#}
{##}
{##}
{#                                                        {% if item_data.charge_50_60 != None %}{{ item_data.charge_50_60 }}{% endif %}"#}
{#                                                       name="charge_50_60" placeholder="{{ lbl_charge }}(50-60 km)">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-md-6">#}
{#                                        <div class="form-group">#}
{#                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ lbl_charge }}(60-70#}
{#                                                km)<span class="required">*</span>#}
{#                                            </label>#}
{#                                            <div class="col-md-9 col-sm-9 col-xs-12">#}
{#                                                <input type="text" class="form-control number-only" required#}
{#                                                       id="charge_60_70" value="#}
{##}
{##}
{#                                                        {% if item_data.charge_60_70 != None %}{{ item_data.charge_60_70 }}{% endif %}"#}
{#                                                       name="charge_60_70" placeholder="{{ lbl_charge }}(60-70 km)">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-success">{{ lbl_submit }}</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div><!-- end col -->
                <!-- Add Admin start here-->
                {% endif %}
                <div class="col-lg-12">
                    <div class="card-box table-responsive">

                        <h4 class="header-title m-t-0 m-b-30"> {{ lbl_service_list }}</h4>


                        <table class="table m-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ lbl_service_name_en }}</th>
                                <th>{{ lbl_service_name_es }}</th>
                                <th>{{ lbl_description_en }}</th>
                                <th>{{ lbl_description_es }}</th>
                                <th>{{ lbl_charge }}</th>
{#                                <th>{{ lbl_charge }}(10-20)km</th>#}
{#                                <th>{{ lbl_charge }}(20-30)km</th>#}
{#                                <th>{{ lbl_charge }}(30-40)km</th>#}
{#                                <th>{{ lbl_charge }}(40-50)km</th>#}
{#                                <th>{{ lbl_charge }}(50-60)km</th>#}
{#                                <th>{{ lbl_charge }}(60-70)km</th>#}
                                {% if not disable_action %}
                                <th>{{ lbl_edit }}</th>
                                {% endif %}
                                {#                              <th>{{ delete }}</th>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% if not service_list %}
                                <tr>
                                    <td align="center" colspan="11">
                                        <strong>{{ no_items_found }}</strong>
                                    </td>
                                </tr>
                            {% else %}

                                {% for service_obj in service_list %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ service_obj.display_service_name_en }}</td>
                                        <td>{{ service_obj.display_service_name_es }}</td>
                                        <td>{{ service_obj.service_description_en }}</td>
                                        <td>{{ service_obj.service_description_es }}</td>
                                        <td>{{ service_obj.charge|floatformat:2 }}</td>
{#                                        <td>{{ service_obj.charge_10_20|floatformat:2 }}</td>#}
{#                                        <td>{{ service_obj.charge_20_30|floatformat:2 }}</td>#}
{#                                        <td>{{ service_obj.charge_30_40|floatformat:2 }}</td>#}
{#                                        <td>{{ service_obj.charge_40_50|floatformat:2 }}</td>#}
{#                                        <td>{{ service_obj.charge_50_60|floatformat:2 }}</td>#}
{#                                        <td>{{ service_obj.charge_60_70|floatformat:2 }}</td>#}
                                        {% if not disable_action %}
                                        <td>
                                            &nbsp;&nbsp;&nbsp;<a
                                                href="{% url 'dashboard:edit-service' service_id=service_obj.id %}"><i
                                                class="fa fa-edit"></i></a>
                                        </td>
                                        {% endif %}
                                        {#                                    <td>#}
                                        {#                                       &nbsp;&nbsp;&nbsp;<a onclick="DeleteItem({{ service_obj.id }})" id=service_obj.id"><i class="fa  fa-trash"></i></a>#}
                                        {#                                    </td>#}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- end col -->


            </div> <!-- container -->

        </div> <!-- content -->

        {% include "dashboard/footer.html" %}

    </div>

{% endblock %}


{% block extra_javascript %}
    <!-- Validation js (Parsleyjs) -->
    <script type="text/javascript" src={% static "assets/plugins/parsleyjs/dist/parsley.min.js" %}></script>
    <script type="text/javascript" src={% static "assets/js/slide_toggle.js" %}></script>

    <script type="text/javascript">
        function DeleteItem(service_id) {
            if (confirm('{{ lbl_want_to_delete_service }}')) {
                $.ajax({
                    url: '/dashboard/delete-service/',
                    data: {
                        'service_id': service_id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        alert(data)
                        window.location.href = "/dashboard/list-service/";
                    }
                });
            }

        }
    </script>



{% endblock %}