{% extends "dashboard/front-base.html" %}
{% load staticfiles %}
{% block heading %}
    {{ fleet_signup }}
{% endblock %}
{% block page_content %}
    <div class="panel-body" id="content_div">
        <form class="form-horizontal m-t-20" id="add_form" action="" method="post">
            {% csrf_token %}
            <div class="form-group ">
                <div class="col-xs-12">
                    <input class="form-control" type="text" required="" placeholder="{{ company_name }}"
                           name="company_name" id="company_name" value="">
                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    <textarea name="address" id="address" placeholder="{{ address }}" class="form-control"
                              required=""></textarea>
                </div>
            </div>

            <div class="form-group ">
                <div class="col-xs-12">
                    <input class="form-control" type="email" required="" placeholder="{{ lbl_email }}" name="email"
                           id="email"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" value="{{ request.GET.email }}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <input class="form-control" type="password" required="" placeholder="{{ password }}" name="password"
                           id="password"
                           minlength="8" maxlength="20" value="{{ request.GET.pass }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 text-white myFile">{{ ceo_id_proof }}
                    <img src="{% static 'assets/images/camera-icon-png-nTXB8LgMc.png' %}" id="blah" width="50" height="50" alt="" style="margin-left: 5px" />
                    <input id="filebutton1" class="file-upload" name="filebutton1" required type="file"
                           accept="image/*" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0]);"/>
                    <input type="hidden" name="image1" id="image1">
                    <input type="hidden" name="success1" id="success1" value="1">

                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <select class="form-control" name="city" id="city" required>
                        <option value="" disabled selected>Select a City</option>
                        {% for cities in city %}
                            <option value="{{ cities.id }}">{{ cities.city_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group text-center m-t-30">
                <div class="col-xs-12 text-white">
                    <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light"
                            type="button">{{ lbl_sign_up }}
                    </button>
                    <br>
                    Already have account? <a href="{% url 'dashboard:dashboard-login' %}" class="text-white">Sign In</a>
                </div>
            </div>

            <div class="form-group m-t-30 m-b-0">
                <div class="col-sm-6">
                    <a href="{% url 'dashboard:forgot-password' %}" class="text-white"><i
                            class="fa fa-lock m-r-5 text-white"></i> {{ lbl_forgot_password }}</a>
                </div>
                <div class="col-sm-6">
                    <span style="float: right;"><a href="javascript:void(0)" onclick="SetSession(1)"
                                                   id=session_english" class="text-white"> English</a>
                &nbsp;&nbsp;<a onclick="SetSession(2)" href="javascript:void(0)" id=session_spanish" class="text-white">Español</a></span>
                </div>
            </div>
        </form>

    </div>
    <div class="panel-body" id="div_validation" style="display: none"><label
            class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
        <div class="form-group" class="col-md-9 col-sm-9 col-xs-12">
            <font size="4px"><img src="/static/assets/images/loader.gif" style="align-self: center" width="100"
                                  height="100"></font>
        </div>
    </div>
    </div><!-- end col -->
{% endblock %}

{% block extra_javascript %}

    <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
    <script src="{% static 'assets/js/firebase.js' %}"></script>
    <script>
        $("button").click(function (event) {
            if (document.getElementById('company_name').value == '') {
                alert('{{ lbl_validation_company_name }}')
                document.getElementById('company_name').focus()
            }
            else if (document.getElementById('address').value == '') {
                alert('{{ lbl_validation_address }}')
                document.getElementById('address').focus()
            }
            else if (document.getElementById('email').value == '') {
                alert('{{ lbl_validation_email }}')
                document.getElementById('email').focus()
            }
            else if (document.getElementById('password').value == '') {
                alert('{{ lbl_validation_password }}')
                document.getElementById('password').focus()
            }
            else if (document.getElementById('filebutton1').value == '') {
                alert('{{ lbl_validation_proof }}')
                document.getElementById('filebutton1').focus()
            }
            else if (document.getElementById('city').value == ''){
                alert('{{ lbl_choose_city }}')
                document.getElementById('city').focus()
            }
            else {

                // IMAGE1
                // Listen for file selection
                var filebutton1 = document.getElementById('filebutton1');
                if (filebutton1.value != '') {
                    // get file
                    var file1 = filebutton1.files[0];
                    // Create a root reference
                    var storageRef1 = firebase.storage().ref();
                    document.getElementById('success1').value = 0;
                    document.getElementById('content_div').style.display = 'none';
                    document.getElementById('div_validation').style.display = '';
                    // Create a reference to millis
                    var d = new Date();
                    var timeMilli = d.getTime();

                    var uploadTask1 = storageRef1.child(timeMilli + '1.jpg').put(file1);
                    uploadTask1.on('state_changed', function (snapshot) {
                        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                        console.log('Upload is ' + progress + '% done');
                    }, function (error) {
                        // Handle unsuccessful uploads
                    }, function () {
                        // Handle successful uploads on complete
                        document.getElementById('success1').value = 1;
                        formsubmit();
                    });

                    document.getElementById('image1').value = timeMilli + '1.jpg';

                }

                formsubmit();
            }

        });

        function formsubmit() {
            {#        $("form").css("display",'none');#}
            {#         $("#loading-img").css({"display": "block"});#}

            var success1 = document.getElementById('success1').value

            if (success1 == 1) {
                $("#add_form").submit();
                document.getElementById('div_validation').style.display = 'none';
                document.getElementById('content_div').style.display = '';
            }

        }

        function SetSession(id) {
            {#            alert(id)#}
            $.ajax({
                url: '/dashboard/set-session/',
                data: {
                    'language': id,
                },
                dataType: 'json',
                success: function (data) {
                    window.location.reload()
                    {#                alert(data)#}
                }
            });

        }
    </script>
{% endblock %}